section.about-us#about
  .about-us__inner 
    .about-us__image
      h3 О театре 
      img(src="images/about.jpg", alt="Сцена из спектакля, люди, одетые в тельняшки и красные береты, танцуют и поют")
    .about-us__text
      p Ульяновский молодежный театр – центр молодёжного притяжения, культурного просвещения, социального и духовного развития молодого поколения; театр, сохраняющий и развивающий лучшие традиции мирового театрального репертуара, созвучный в своем творчестве с сегодняшним днем, говорящий о том, что важно и актуально сегодня для молодых людей. 
      p Ульяновский молодёжный театр – это объединение единомышленников, схожих в своих целях, стремлениях, ценностях, художественных пристрастиях.
      p Миссия МТ – объединение в творчестве; воссоединение людей, поколений, народов средствами театрального искусства через сохранение, утверждение и реализацию системы общечеловеческих, эстетических и духовных ценностей. Миссия МТ – его ответ на проблему разобщенности, отчуждения, оторванности. Разобщенности людей между собой, разрозненность каждого внутри себя. Отчуждения человека и мира. Оторванности молодого поколения от своих корней. Ответ на проблему превосходства человека над человеком.
  ul.about-us__gallery
    li
      a(href=".about0" data-vbtype="inline"  data-gall="about" data-customclass="about-us-custom-modal").my-image-links
        .vbox-item-content.about0
          img(src="images/about-0.jpg", alt="")
          .modal-subtitle
            | Фестиваль "Какой-то там"
    li
      a(href=".about1" data-vbtype="inline"  data-gall="about" data-customclass="about-us-custom-modal").my-image-links
        .vbox-item-content.about1
          img(src="images/about-1.jpg", alt="")
          .modal-subtitle
            | Фестиваль "Какой-то там"
    li
      a(href=".about2" data-vbtype="inline"  data-gall="about" data-customclass="about-us-custom-modal").my-image-links
        .vbox-item-content.about2
          img(src="images/about-2.jpg", alt="")
          .modal-subtitle
            | Фестиваль "Какой-то там"
    li
      a(href=".about3" data-vbtype="inline"  data-gall="about" data-customclass="about-us-custom-modal").my-image-links
        .vbox-item-content.about3
          img(src="images/about-3.jpg", alt="")
          .modal-subtitle
            | Фестиваль "Какой-то там"
  section.section-tickets#tickets
    .section-header
      h2 Афиша
    //- .section-tickets-title-wrap 
    //-   h3.section-tickets__title Январь
    .section-tickets__posters
  .theatre-people#employees
    h2 Люди театра
    .container
      ul.employees
        li
          a(href=".employee0" data-vbtype="inline"  data-gall="employees" data-customclass="employees-modal").my-image-links
            .vbox-item-content.employee0
              img(src="images/Hrabskov-thumb.jpg", alt="")
              .employees__item
                .employees__item-content
                  .employees__item-content-img-wrap
                    img(src="images/Hrabskov.jpg", alt="")
                  .employees__item-text-wrap
                    h3 Алексей Храбсков
                    p <strong>Родился</strong> 26 ноября 1976 года в г. Ульяновск. Окончил Ульяновский государственный университет по специальности «Актерское искусство» в 2001 году. С 2001 года преподает на кафедре актерского искусства факультета культуры и искусства УлГУ в должностях ассистент, старший преподаватель, доцент, заведующий кафедрой. За 20 лет работы на кафедре подготовил к профессиональной деятельности более 70 выпускников.
                    p <strong>Учился</strong> В 2016 году явился организатором новой театральной труппы «Ульяновский молодёжный театр». С 2018 года – художественный руководитель Областного государственного автономного учреждения «Молодёжный творческий центр «Ульяновский молодежный театр». С 2022 года – директор и художественный руководитель Областного государственного автономного учреждения культуры «Ульяновский молодежный театр». С 2023 года – директор и художественный руководитель Областного государственного автономного учреждения культуры «Ульяновский молодежный театр имени Бориса Владимировича Александрова». Член Союза театральных деятелей РФ.
                    p <strong>Занят в спектакле</strong> Роли в спектаклях Ульяновского молодёжного театра имени Б.В. Александрова:<br>Он - «Маленький человек с большим сердцем» Шипучин - «Пара шуток»<br>Папа Гриши - «Кеды»<br>Питер Пэн – «Мой папа - Питер Пэн»<br>Следователь – «Завтра была война»<br>Сарафанов - «Старший сын»
                    p <strong>Поставил</strong> спектакли в качестве режиссера:<br>«Метель» (совместно с Дарьей Долматовой)<br>«Руководство для желающих жениться» (совместно с Дарьей Долматовой)<br>«Пара шуток»<br>«Самый лучший в мире день» по пьесе Дмитрия Войдака «ПапаМучительная - папамУчительная сказка»<br>«Завтра была война»<br>«С училища»
                +employeeSlider(
                  [
                    {
                      src:"images/zbv.jpg",
                      alt:"Сцена из спектакля 'Завтра была война', Алексей Храбсков в роли следователя серьёзно разговаривает с ученицей."
                    },
                    {
                      src:"images/little-man.jpg",
                      alt:"Герой спектакля в легкой пижаме смущенно смотрит в сторону, окутанный чужим красным боа."
                    },
                    {
                      src:"images/older-son.jpg",
                      alt:"Пожилой герой рассматривает чью-то фотографию в рамке, держа её в руках, на стене рядом висит календарью"
                    },
                    {
                      src:"images/Shipuchin.jpg",
                      alt:"Герой в ослепительном фраке, что-то говорит, глядя на альбом, украшенный праздничной лентой."
                    }
                  ]
                  )
          .employees-hover-text
              p.employees__position-title директор
              p.employees__name Алексей Храбсков
        li
          a(href=".employee1" data-vbtype="inline"  data-gall="employees" data-customclass="employees-modal").my-image-links
            .vbox-item-content.employee1
              img(src="images/Dolmatova-thumb.jpg", alt="")
              .employees__item
                .employees__item-content
                  .employees__item-content-img-wrap
                    img(src="images/Dolmatova.jpg", alt="")
                  .employees__item-text-wrap
                    h3 Дарья Долматова
                    p <strong>Родилась</strong> 6 мая 1980 года в г. Ульяновск.
                    p <strong>Окончила</strong> УлГУ по специальности «Актерское искусство» в 2001 году. С 2002 года актриса Ульяновского драматического театра имени И.А. Гончарова.  
                    p <strong>С 2020 года</strong> – старший преподаватель кафедры актерского искусства УлГУ. Руководитель курса. С 2023 года со руководитель студенческого театра «Актерская мастерская». Член Союза театральных деятелей РФ.
                    p Роли в спектаклях Ульяновского молодёжного театра имени Б.В. Александрова:<br>Она - «Маленький человек с большим сердцем»<br>Голубка - «Ковчег отходит ровно в восемь»<br>Мама Гриши - «Кеды»<br>Мама – «Мой папа - Питер Пэн»<br>Анна Маркиш Карвалейру – «Город У. Родина талантов»<br>Мирандолина - «Хозяйка гостиницы»<br>Товарищ Полякова – «Завтра была война»<br> <br>Поставила спектакли в качестве режиссера:<br><br>«Метель» (совместно с Алексеем Храбсковым)<br>«Руководство для желающих жениться» (совместно с Алексеем Храбсковым)<br>«Чемоданное настроение»<br>«Дядя Степа»
                +employeeSlider(
                  [
                    {
                      src:"images/Dolmatova-portrait.jpg",
                      alt:"Дарья Долматова в платье с открытыми плечами, улыбаясь, смотрит в объектив."
                    },
                    {
                      src:"images/dolmatova-little-man.jpg",
                      alt:"Героиня в легком платье и платочке сосредоточенно управляет красным боа на палочках, изображающим запретные отпускные страсти."
                    },
                    {
                      src:"images/Dolmatova-zbv.jpg",
                      alt:"Народная комиссарша в красной косынке и кожаном плаще, что-то говорит, сурово сдвинув брови."
                    },
                    {
                      src:"images/Dolmatova-kovcheg.jpg",
                      alt:""
                    },
                    {
                      src:"images/Dolmatova-Homeland.jpg",
                      alt:""
                    },
                    {
                      src:"images/dolmatova-home-lady.jpg",
                      alt:"Красивая женщина с кудрявыми волосами, улыбаясь, складывает простыни, она одета в платье с декольте, в ушах у нее нарядные серьги, кажется, она задумала что-то интересное."
                    }
                  ]
                  )
          .employees-hover-text
              p.employees__position-title актриса
              p.employees__name Дарья Долматова
        li
          a(href=".employee2" data-vbtype="inline"  data-gall="employees" data-customclass="employees-modal").my-image-links
            .vbox-item-content.employee2
              img(src="images/Alexandr_D-thumb.jpg", alt="")
              .employees__item
                .employees__item-content
                  .employees__item-content-img-wrap
                    img(src="images/Alexandr_D.jpg", alt="")
                  .employees__item-text-wrap
                    h3 Александр Дермичёв
                    p <strong>Родился</strong> 28 июня 1994 года в Ташкенте. 
                    p <strong>Окончил</strong> УлГУ по специальности «Актерское искусство» в 2020 году.
                    p <strong>В труппу</strong> Ульяновского молодёжного театра имени Б.В. Александрова был принят в 2017 году.
                    p <strong>Поставил</strong>РОЛИ В СПЕКТАКЛЯХ:<br>Сосед (массовка) — «В день свадьбы».<br>Дядя Стёпа — «Дядя Стёпа».<br>Товарищ из райкома/сотрудник НКВД — «Завтра была война».<br>Тусовщик в баре — Кеды».<br>Карл Льюс — «Над пропастью во ржи».<br>Член банка, гость — «Пара шуток».<br>Помощник помощника судьи — «Руководство для желающих жениться».<br>Участник хора — «С_училища».<br>Кот — «Самый лучший в мире день».<br>Трактирщик Бригелла — «Слуга двух господ».<br>Роль в массовке — «Старший сын».<br>Грузчик — «Чемоданное настроение».<br>Охранник Василий/Зверь-Страшилище — «Сказка о Золотом человеке».<br>Граф Альбафьорита — «Хозяйка гостиницы».
                +employeeSlider(
                  [
                    {
                      src:"",
                      alt:""
                    },
                    {
                      src:"",
                      alt:""
                    },
                    {
                      src:"",
                      alt:""
                    },
                    {
                      src:"",
                      alt:""
                    }
                  ]
                  )
          .employees-hover-text
              p.employees__position-title актер
              p.employees__name Александр Дермичёв
        li
          a(href=".employee3" data-vbtype="inline"  data-gall="employees" data-customclass="employees-modal").my-image-links
            .vbox-item-content.employee3
              img(src="images/Hrabskov-thumb.jpg", alt="")
              .employees__item
                .employees__item-content
                  .employees__item-content-img-wrap
                    img(src="images/Hrabskov.jpg", alt="")
                  .employees__item-text-wrap
                    h3 Александр Курамшин
                    p <strong>Родился</strong>28 июня 1994 года в Ташкенте. В труппу Ульяновского молодёжного театра имени Б.В. Александрова был принят в 2017 году «Когда я узнал, что буду играть роль Саши Стамескина, мне пришлось перечитать повесть 3-4 раза, чтобы лучше понять своего героя, и при каждом прочтении у меня стоял ком в горле! Очень приятно работать с глубоким писателем - есть, что играть».
                    p <strong>Окончил</strong> УлГУ по специальности «Актерское искусство» в 2020 году.
                    p <strong>Роли в дипломных спектаклях:</strong>Федя - «Фабричная девчонка»<br>Ипполит - «Не все коту масленица»
                    p <strong>Роли в театре</strong>  Министр - «Сказка о золотом человеке»<br>Фабрицио - «Хозяйка гостиницы»<br>Жених, Шипучин - «Пара шуток»<br>Василий, Сеня - «В день свадьбы»<br>Мужчина из хора - «С училища»<br>Владимир - «Метель»<br>Андрюша, Микеле - «Руководство для желающих жениться»<br>Стамескин - «Завтра была война»<br>Сильвио - «Слуга двух господ»<br>Клоун - «Самый лучший в мире день»<br>Мальчик 2 - «Дядя Степа»
                +employeeSlider(
                  [
                    {
                      src:"images/zbv.jpg",
                      alt:"Сцена из спектакля 'Завтра была война', Алексей Храбсков в роли следователя серьёзно разговаривает с ученицей."
                    },
                    {
                      src:"images/little-man.jpg",
                      alt:""
                    },
                    {
                      src:"images/older-son.jpg",
                      alt:""
                    },
                    {
                      src:"images/Shipuchin.jpg",
                      alt:""
                    }
                  ]
                  )
          .employees-hover-text
              p.employees__position-title директор
              p.employees__name Алексей Храбсков
