footer.footer
  a(href="#top").scroll-top  Наверх
  .footer__inner
    .footer__inner-logos 
      .footer__inner-logos-small
        a(href="https://www.ulmincult.ru/").footer-logo-small
            img(src="images/mincult-logo.png", alt="")
        a(href="https://www.culture.ru/").footer-logo-small
            img(src="images/logo-culture.jpg", alt="")
        a(href="https://fond-detyam.ru/detskiy-telefon-doveriya/").footer-logo-small
            img(src="images/doverie.jpg", alt="")
        a(href="https://bus.gov.ru/info-card/549484").footer-logo-small
            img(src="images/quality.jpg", alt="")
        a(href="https://ulgov.ru/").footer-logo-small
            img(src="images/gerb.png", alt="")
      .footer-logos-large
        a(href="https://www.culture.ru/pushkinskaya-karta").footer-logo-large
          img(src="images/pushkin.png", alt="")
        
  
