header.header
  <a name="top"></a>
  .header-container
    .header__inner
      a(href="/").header__logo 
        img(src="images/logo.png" alt="Логотип ульяновского молодежного театра имени Бориса Владимировича Александрова.")
      .header__social
        <a href="/#tickets" class="btn btn-4"><span>Купить билет</span></a> 
        ul.social 
          li
            a(href="/") 
              img(src="images/map-pin.png" alt="посмотреть местоположение на карте.")
          li
            a(href="tel:+79176293127" title="+7(917)629-31-27") 
              img(src="images/phone.png" alt="позвонить.")
          li
            a(href="mailto:")
              img(src="images/email.png" alt="написать.")
          li
            a(href="https://vk.com/molodezhnyi_teatr" target="_blank", rel="noopener noreferrer")
              img(src="images/vk.png" alt="группа вконтакте.")
          //- li 
          //-   <a href="#" class="btn btn-bvi btn-sm shadow-sm bvi-open" title="Версия сайта для слабовидящих">Версия для слабовидящих</a>