.swiper.hero-slider
    .swiper-wrapper
      .swiper-slide
        h2
          span "Самый лучший в мире день" по пьесе Д. Войдака "Папамучительная-папамУчительная сказка"
        img(src="images/hero-slider-00.jpg" alt="Сцена из спектакля 'Хозяйка гостиницы', по лицам персонажей видно, что они испытывают сложные эмоции в этот момент")
      .swiper-slide
        h2
          span Slide 2
        img(src="images/hero-slider-01.jpg" alt="Сцена из спектакля, оживленная беседа парня и девушки, они улыбаются")
      .swiper-slide
        h2
          span Slide 3
        img(src="images/hero-slider-02.jpg" alt="Сцена из спектакля")
      .swiper-slide
        h2
          span 'Завтра была война'
        img(src="images/hero-slider-03.jpg" alt="Сцена из спектакля 'Завтра была война', ученики школы весело разговаривают перед началом урока в классе")
      .swiper-slide
        h2
          span Slide 1
        img(src="images/hero-slider-00.jpg" alt="Сцена из спектакля")
    .swiper-pagination
    button.swiper-button-prev
    button.swiper-button-next