section.hero
  .hero__inner
    .hero__nav
      ul.hero-nav__list
        li
          a(href="#about") О театре 
        li
          a(href="#employees") Люди театра
        li  
          a(href="#afisha") Афиша
        li  
          a(href="repertoire.html") Репертуар
        li
          a(href="#afisha") Купить билет
        li
          a(href="/news.html") Новости
        li
          a(href="/contact.html") Контакты
        li
          a(href="/bio.html") Биография Б. В. Александрова
        li
          a(href="/docs.html") Официальные документы
    .hero__slider
      include hero-slider 