extends pug/base

prepend vars
  - title = 'Биография Б. В. Александрова'

append vars
  //-

block content
  section.bio
    h2 Биография Б. В. Александрова
    .bio__columns
      .bio-column 
        .bio-image
          img(src="images/ABV-title-portrait.jpg")
        .bio-text 
          p Александров Борис Владимирович родился 31 октября 1949 года в селе Партизанск Бузулукского района Оренбургской области. После окончания школы в г. Бузулуке поступил в ГИТИС им. А.В. Луначарского (г. Москва), закончил его в 1971 году по специальности «Артист драматического театра и кино», был принят на работу в Ульяновский драматический театр, где прослужил с 1971 по 2010 год. Борис Александров обладал своеобразной и глубокой индивидуальностью, позволившей ему стать одним из ведущих артистов Ульяновского драматического театра. За тридцать восемь лет работы в Ульяновском театре Б.В. Александров создал целый ряд сценических образов, отличающихся тонким психологизмом, своеобразием характеристик, завершенности форм.


