extends pug/base

prepend vars
  - title = 'Ульяновский молодежный театр им. Б. В. Александрова'

append vars
  //-

block content
  section.docs 
    h2 Официальные документы:
    .docs__inner
      .docs__inner-image 
        img(src="images/docs.jpg", alt="Двое людей в деловых костюмах передают друг другу в руки документы, связанные с Ульяновским Молодежным театром имени Б.В. Александрова.")
      .docs__inner-text 
        ul.docs__list 
          li 
            p.docs__list-info Выписка из единого государственного реестра юридических лиц
            a(href="https://disk.yandex.ru/i/PNpP4wV96iITuw").docs__list-link https://disk.yandex.ru/i/PNpP4wV96iITuw
          li 
            p.docs__list-info Коллективный договор 2023-2026
            a(href="https://disk.yandex.ru/i/o1eBWnanHUq5_Q").docs__list-link https://disk.yandex.ru/i/o1eBWnanHUq5_Q
          li 
            p.docs__list-info Перечень рекомендуемых мероприятий по улучшению условий труда
            a(href="https://disk.yandex.ru/i/Ega3jf5O64z4IA ").docs__list-link https://disk.yandex.ru/i/Ega3jf5O64z4IA 
          li 
            p.docs__list-info Перечень товаров, работ, услуг, закупаемых у СМСП в 2023
            a(href="https://disk.yandex.ru/i/M1lhDe9rhUjzJw").docs__list-link https://disk.yandex.ru/i/M1lhDe9rhUjzJw
          li 
            p.docs__list-info Положение о закупках Молодежный театр с 10 июля 2023
            a(href="https://disk.yandex.ru/i/M1lhDe9rhUjzJw").docs__list-link https://disk.yandex.ru/i/M1lhDe9rhUjzJw
          li 
            p.docs__list-info Прейскурант цен на 01.09.2023-31.07.2024
            a(href="https://disk.yandex.ru/i/dsBThVdliQb7mg").docs__list-link https://disk.yandex.ru/i/dsBThVdliQb7mg
          li 
            p.docs__list-info Приказ об утверждении кодекса этики и Кодекс Этики
            a(href="https://disk.yandex.ru/i/uiFfUMCBjbR0Dw").docs__list-link https://disk.yandex.ru/i/uiFfUMCBjbR0Dw
          li 
            p.docs__list-info Приказ об утверждении положения  об обработке персональных данных и Положение
            a(href="https://disk.yandex.ru/i/3OWa23fXn72avA").docs__list-link https://disk.yandex.ru/i/3OWa23fXn72avA
          li 
            p.docs__list-info Приказ об утверждении состава Комиссии по противодействию коррупции
            a(href="https://disk.yandex.ru/i/meQ5QDcEQIwkwg").docs__list-link https://disk.yandex.ru/i/meQ5QDcEQIwkwg
          li 
            p.docs__list-info Приказ о запрете курения
            a(href="https://disk.yandex.ru/i/_oJyZLC05Ad1kw").docs__list-link https://disk.yandex.ru/i/_oJyZLC05Ad1kw
          li 
            p.docs__list-info Распоряжение о назначении руководителя учреждения
            a(href="https://disk.yandex.ru/i/3yctcyiwNBdG0Q").docs__list-link https://disk.yandex.ru/i/3yctcyiwNBdG0Q
          li 
            p.docs__list-info Распоряжение О согласовании устава
            a(href="https://disk.yandex.ru/i/UX0UaZ89NEgeVQ").docs__list-link https://disk.yandex.ru/i/UX0UaZ89NEgeVQ
          li 
            p.docs__list-info Распоряжение Об увековечении на территории Ульяновской области памяти о выдающейся личности
            a(href="https://disk.yandex.ru/i/mZVQopQFFWs_ZA").docs__list-link https://disk.yandex.ru/i/mZVQopQFFWs_ZA
          li 
            p.docs__list-info Свидетельство  о постановке на учет в налоговом органе по месту нахождения на территории РФ
            a(href="https://disk.yandex.ru/i/3L2IgvRAp-na4Q").docs__list-link https://disk.yandex.ru/i/3L2IgvRAp-na4Q
          li 
            p.docs__list-info Сводная ведомость результатов проведения спец. оценки условий труда
            a(href="https://disk.yandex.ru/i/jmVYVX0CLhTh9A").docs__list-link https://disk.yandex.ru/i/jmVYVX0CLhTh9A
          li 
            p.docs__list-info Устав ОГАУК Ульяновский молодежный театр имени Б.В. Александрова
            a(href="https://disk.yandex.ru/i/0a8jKZaG2gCAQA").docs__list-link https://disk.yandex.ru/i/0a8jKZaG2gCAQA
          li 
            p.docs__list-info Штатная структура
            a(href="https://disk.yandex.ru/i/jfjJCbPk6mop2Q").docs__list-link https://disk.yandex.ru/i/jfjJCbPk6mop2Q