extends pug/base

prepend vars
  - title = 'Ульяновский молодежный театр им. Б. В. Александрова'

append vars
  //-

block content
  section.press 
    h2 Пресса о нас:
    .press__inner
      .press__inner-image 
        img(src="images/press.jpg", alt="На диване сидят мальчик с ноутбуком и пожилой мужчина с газетой, они читают новости об Ульяновском молодежном театре имени Б. В. Александрова")
      .press__inner-text 
        ul.press__list 
          li 
            p.press__list-info УлПравда. От студенческих пробников до государственного театра. Как в Ульяновске вырос «Молодежный»
            p.press__list-link https://ulpravda.ru/rubrics/cilture/ot-studencheskikh-probnikov-do-gosudarstvennogo-teatra-kak-v-ulianovske-vyros-molodezhnyi?ysclid=lmu7i6mpk1759921383
          li 
            p.press__list-info УлПравда Возвращение «Надежды». В Ульяновске прошёл молодёжный театральный фестиваль-конкурс
            p.press__list-link https://ulpravda.ru/tv/novost_dnia/vozvraschenie-nadezhdy-v-ulianovske-proshl-molodzhnyi-teatralnyi-festivalkonkurs 
          li 
            p.press__list-info Ульяновск Сегодня. «Метель» в Ульяновске: Молодежный театр радует зрителей февральской премьерой
            p.press__list-link https://ultoday73.ru/metel-v-ulyanovske-molodezhnyj-teatr-raduet-zritelej-fevralskoj-premeroj/ 
          li 
            p.press__list-info Страстной бульвар. О любви и войне
            p.press__list-link http://www.strast10.ru/node/6068
          li 
            p.press__list-info Страстной бульвар. Борьба с нафталином / Лаборатория современной драматургии «Experience. Новая драма»
            p.press__list-link http://www.strast10.ru/node/5029
          li 
            p.press__list-info Аргументы и Факты. Анатомия безумия. Ульяновский молодёжный театр замахнулся на Гоголя…
            p.press__list-link https://ul.aif.ru/culture/anatomiya_bezumiya_ulyanovskiy_molodyozhnyy_teatr_zamahnulsya_na_gogolya?ysclid=lmu8af1yi3987908766
          li 
            p.press__list-info Аргументы и Факты. Алексей Храбсков: «Я как актёр чувствую - люди тянутся к радости и свету»
            p.press__list-link https://ul.aif.ru/persona/aleksey_hrabskov_ya_kak_aktyor_chuvstvuyu_-_lyudi_tyanutsya_k_radosti_i_svetu
          li 
            p.press__list-info Аргументы и Факты. Маргарита Волкова: «Жизнь и сцена требуют смелости»
            p.press__list-link https://ul.aif.ru/persona/margarita_volkova_zhizn_i_scena_trebuyut_smelosti
          li 
            p.press__list-info Аргументы и Факты. Латиноамериканские страсти. В Молодёжном театре поставили «Эвитанго»
            p.press__list-link https://ul.aif.ru/culture/latinoamerikanskie_strasti_v_molodyozhnom_teatre_postavili_evitango
          li 
            p.press__list-info Аргументы и Факты. Алексей Храбсков: «Проваливаться, набивать шишки – часть любого творчества»
            p.press__list-link https://ul.aif.ru/persona/aleksey_hrabskov_provalivatsya_i_nabivat_shishki_chast_lyubogo_tvorchestva
          li 
            p.press__list-info 73Онлайн. Ульяновскому молодёжном театру исполнилось три года
            p.press__list-link https://73online.ru/r/ulyanovskomu_molodezhnom_teatru_ispolnilos_tri_goda-94648?ysclid=lmu8pv2o4q226790062
          li 
            p.press__list-info Мозаика. В Ульяновском молодежном театре завершилась первая лаборатория современной драматургии
            p.press__list-link https://mosaica.ru/ru/ul/news/2020/12/01/v-ulyanovskom-molodezhnom-teatre-zavershilas-pervaya-laboratoriya-sovremennoi-dramaturgii?from=topnews
          li 
            p.press__list-info Мозаика. После карантина. В Ульяновске официально открылся первый театр
            p.press__list-link https://mosaica.ru/ru/ul/news/2020/09/02/posle-karantina-v-ulyanovske-ofitsialno-otkrylsya-pervyi-teatr
          li 
            p.press__list-info Проза. 100 минут в Ульяновском Молодежном театре
            p.press__list-link https://proza.ru/2020/02/24/1098?ysclid=lmu90i0tia793453389
          li 
            p.press__list-info Народная Газета. ТЕАТР, ПРАЗДНИК, «ЛИЦЕДЕЙ»!
            p.press__list-link https://dzen.ru/a/YkQPK59eCx-9FiaY
          li 
            p.press__list-info Ульяновск Сегодня. На одном языке с молодёжью: в Ульяновске презентовали «Лабораторию современной драматургии»
            p.press__list-link https://ultoday73.ru/na-odnom-yazyke-s-molodyozhyu-v-ulyanovske-prezentovali-laboratoriyu-sovremennoj-dramaturgii/?ysclid=lmu940iuqj241255889
          li 
            p.press__list-info Времена. Кто куда, а мы – в театр!
            p.press__list-link tp://vremenaru.com/page928562.html?ysclid=lmu998npit291407136
          li 
            p.press__list-info ГТРК-ВОЛГА. Экспертный совет во главе с ведущим российским театральным критиком Ольгой Сенаторовой признал деятельность Ульяновского молодёжного театра профессиональной
            p.press__list-link https://gtrk-volga.ru/2022/03/22/ekspertnyj-sovet-vo-glave-s-vedushhim-rossijskim-teatralnym-kritikom-olgoj-senatorovoj-priznal-deyatelnost-ulyanovskogo-molodyozhnogo-teatra-professionalnoj/?ysclid=lmu9bbyu6z688829265
          li 
            p.press__list-info ГТРК-ВОЛГА. Ульяновский молодёжный театр получил федеральную поддержку – больше 10 миллионов рублей
            p.press__list-link https://gtrk-volga.ru/2023/03/17/ulyanovskij-molodyozhnyj-teatr-poluchil-federalnuyu-podderzhku-bolshe-10-millionov-rublej/
          li 
            p.press__list-info ГТРК-ВОЛГА. Международная премьера на сцене Ульяновского Молодежного театра - «С училища»
            p.press__list-link https://gtrk-volga.ru/2021/03/02/mezhdunarodnaya-premera-na-stsene-ulyanovskogo-molodezhnogo-teatra-s-uchilishha/
          li 
            p.press__list-info ГТРК-ВОЛГА. Новая постановка – под открытым небом!
            p.press__list-link https://gtrk-volga.ru/2019/07/03/novaya-postanovka-pod-otkrytym-nebom/
          li 
            p.press__list-info ГТРК-ВОЛГА. Незрячие ценители искусства теперь тоже смогут наслаждаться спектаклями
            p.press__list-link https://gtrk-volga.ru/2022/10/04/nezryachie-tseniteli-iskusstva-teper-tozhe-smogut-naslazhdatsya-spektaklyami/
          li 
            p.press__list-info ГТРК-ВОЛГА. “Самый лучший в мире день” показал Молодёжный театр
            p.press__list-link https://gtrk-volga.ru/2023/01/16/samyj-luchshij-v-mire-den-pokazal-molodyozhnyj-teatr/
          li 
            p.press__list-info Симбирск Сити. В Ульяновском молодежном театре — последняя премьера сезона
            p.press__list-link https://dzen.ru/a/XPkj5NnT0wCwVWjG
          li 
            p.press__list-info УлПравда. Спектакли ульяновского молодежного театра дополнят тифлокомментированием
            p.press__list-link https://ulpravda.ru/rubrics/cilture/spektakli-ulianovskogo-molodezhnogo-teatra-dopolniat-tiflokommentirovaniem?ysclid=lmua64y9q7843743184
          li 
            p.press__list-info Ульяновск Сегодня. Инклюзивное искусство: для слабовидящих горожан ульяновские спектакли стали доступнее
            p.press__list-link https://ultoday73.ru/inklyuzivnoe-iskusstvo-dlya-slabovidyashhih-gorozhan-ulyanovskie-spektakli-stali-dostupnee/?ysclid=lmua84g4ht234543224
          li 
            p.press__list-info УлПравда. Импровизация - это круто! Ульяновские актеры сразились в театральном батле
            p.press__list-link https://ulpravda.ru/rubrics/cilture/improvizatsiia--eto-kruto-ulianovskie-aktery-srazilis-v-teatralnom-batle?ysclid=lmua9xdlrw487289522
          li
            p.press__list-info Ulgov.ru. Экспертный совет во главе с ведущим российским театральным критиком Ольгой Сенаторовой признал деятельность Ульяновского молодёжного театра профессиональной
            p.press__list-link https://molpol.ulgov.ru/press-sluzhba/news/209-ekspertnyj-sovet-vo-glave-s-vedushchim-rossijskim-teatralnym-kritikom-olgoj-senatorovoj-priznal-deyatelnost-ulyanovskogo-molodjozhnogo-teatra-professionalnoj-14-16-marta-v-ulyanovskom-molodjozhnom-teatre-sostoyalos-tri-spetsialnykh-pokaza-spektaklej-dlya-ekspertnogo-soveta-s-tselyu-otsenki-deyatelnosti-kollektiva?ysclid=lmu8o3myh4214566209
          li 
            p.press__list-info Репортёр. «Метель» на сцене Молодёжного. 
            p.press__list-link https://www.youtube.com/watch?v=-ZJlwlhsP6w
          li 
            p.press__list-info Репортёр. О премьере «Эвитанго».
            p.press__list-link https://www.youtube.com/watch?v=1LcR1E73VyM&t=3s
          li 
            p.press__list-info Репортёр. «Город. У. Родина талантов».
            p.press__list-link https://vk.com/molodezhnyi_teatr?z=video377578246_456239083%2F38bfcbe38926316cba%2Fpl_post_-126265503_4672
          li 
            p.press__list-info ГТРК-ВОЛГА. «Завтра была война».
            p.press__list-link https://www.youtube.com/watch?time_continue=2&v=5809QkIZP3Q&embeds_referring_euri=https%3A%2F%2Fvk.com%2F&embeds_referring_origin=https%3A%2F%2Fvk.com&source_ve_path=Mjg2NjY&feature=emb_logo
          li 
            p.press__list-info ГТРК-ВОЛГА. «Руководство для желающих жениться»
            p.press__list-link https://vk.com/molodezhnyi_teatr?z=video-126265503_456239211%2F7719d4bbc310287655%2Fpl_post_-126265503_7460
          li 
            p.press__list-info ГТРК-ВОЛГА. «Метель» в Ульяновском молодёжном театре.
            p.press__list-link https://www.youtube.com/watch?v=XjNvgf7e1ss&embeds_referring_euri=https%3A%2F%2Fvk.com%2F&embeds_referring_origin=https%3A%2F%2Fvk.com&source_ve_path=Mjg2NjY&feature=emb_logo
          li
            p.press__list-info ГТРК-ВОЛГА. «Сказка о Золотом Человеке».
            p.press__list-link https://vk.com/molodezhnyi_teatr?z=video-126265503_456239167%2F5f6e4f0ea5a1014d15%2Fpl_post_-126265503_6321
          li 
            p.press__list-info Репортёр. «Молодёжная театральная школа».
            p.press__list-link https://www.youtube.com/watch?time_continue=2&v=cyQLKYzppiE&embeds_referring_euri=https%3A%2F%2Fvk.com%2F&embeds_referring_origin=https%3A%2F%2Fvk.com&source_ve_path=Mjg2NjY&feature=emb_logo
          li 
            p.press__list-info ГТРК-ВОЛГА. Тифлокомментирование спектаклей в Молодёжном театре.
            p.press__list-link https://www.youtube.com/watch?time_continue=2&v=3g4WjfEKyVo&embeds_referring_euri=https%3A%2F%2Fvk.com%2F&embeds_referring_origin=https%3A%2F%2Fvk.com&source_ve_path=Mjg2NjY&feature=emb_logo

